@import "mixin";

:root {

}

@import "fonts";
@import "normalize";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 140%;
  font-weight: 400;
  letter-spacing: 0.25px;
  font-style: normal;
}

textarea {
  resize: vertical;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input, textarea {
  outline: none;
}

button {
  color: initial;
  border: none;
  cursor: pointer;
}

@import './btns';

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {

}

._container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

// Підключаємо аккардеон по сайту.
// @import "accardeons";

// Підключаємо попап по сайту.
// @import 'popap';

// Підключаємо таби по сайту
// @import 'tabs';

@import "header";
// ===

// ===
@import "footer";
